@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "メイリオ", 'Meiryo', sans-serif;
	color: #000000;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	background-size: 15px 15px;
	overflow-x: hidden;
}

.rows,
header,
section,
footer {
	width: 100%;
	float: left;
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a:hover,
a:focus,
a:visited {
	outline: none;
	border: none;
}

.cont {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
}

.cont_full {
	width: 100%;
	max-width: 1830px;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit
}

.clear {
	clear: both;
}

a[href^="tel:"] {
	cursor: default;
}

a[href^="tel:"]:hover {
	text-decoration: none;
}

.ow {
	width: 100%;
	overflow: hidden;
}

br {
	font-size: 0;
}

.hide_sp {
	display: inline-block;
}

.show_sp {
	display: none;
}

/* HEADER */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

header.active {
	position: fixed;
}

header .all_header {
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

header .all_header .hd_logo {
	width: 356px;
}

header .all_header .hd_menu .hamber_menu img {
	width: 80px;
	margin-right: 5px;
	transition: opacity 1 ease;
	-webkit-transition: opacity 1 ease;
	-moz-transition: opacity 1 ease;
	-ms-transition: opacity 1 ease;
	-o-transition: opacity 1 ease;
	cursor: pointer;
}

header .all_header .hd_menu .hamber_menu img:hover {
	opacity: 0.8;
}

header .all_header .hd_menu .hamber_menu img.menu_ope {
	display: none;
}

header .all_header .hd_menu.active .hamber_menu img.menu_ope {
	display: block;
}

header .all_header .hd_menu.active .hamber_menu img.menu_nor {
	display: none;
}


header .all_header .hd_menu .hamber_menu {
	position: relative;
}

header .all_header .hd_menu .hamber_menu.active {
	z-index: 3;
}

header .all_header .hd_menu.active::before {
	content: "";
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

header .all_header .hd_menu .list_menu {
	position: fixed;
	top: 0;
	right: -680px;
	z-index: 2;
	width: 680px;
	background-color: #0B2264;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

header .all_header .hd_menu.active .list_menu {
	right: -0;
}

header .all_header .hd_menu .list_menu .all_list_content .txt {
	font-weight: bold;
	font-size: 15px;
	line-height: 175%;
	position: relative;
	z-index: 1;
	color: #fff;
	padding-left: 65px;
}

header .all_header .hd_menu .list_menu .all_list_content .txt::before {
	content: "";
	height: 1px;
	width: 60px;
	background-color: #fff;
	position: absolute;
	top: 11px;
	left: 0;
	z-index: 2;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 470px;
	margin-top: 55px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist {
	width: 42.554%;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li {
	margin-bottom: 50px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li>a {
	font-size: 30px;
	line-height: 160%;
	color: #FFFFFF;
	font-weight: bold;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu {
	margin-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 175%;
	position: relative;
	z-index: 1;
	padding-left: 52px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a::before {
	content: "";
	height: 1px;
	width: 48px;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 2;
	background-color: #FFFFFF;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist.row2>ul>li>a {
	font-size: 18px;
	line-height: 190%;
}


/* FOOTER */

#sec_ft {
	background-color: #17297B;
	padding-top: 45px;
	padding-bottom: 55px;
}

#sec_ft .title {
	text-align: center;
}

#sec_ft .title img {
	width: 205px;
}

#sec_ft .txt {
	font-size: 15px;
	line-height: 175%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 10px;
	letter-spacing: 1px;
}

#sec_ft .div_2 {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 40px;
}

#sec_ft .div_2 .col {
	width: 50%;
	position: relative;
	z-index: 1;
	padding-left: 85px;
	padding-top: 11px;
}

#sec_ft .div_2 .col:not(:last-child) {
	padding-right: 60px;
	padding-left: 0;
	text-align: right;
	padding-top: 8px;
}

#sec_ft .div_2 .col:not(:last-child):after {
	content: "";
	height: 90px;
	width: 1px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

#sec_ft .div_2 .col img.tel_ft {
	width: 377px;
}

#sec_ft .div_2 .col img.form_ft {
	width: 300px;
}

footer .all_ft {
	width: 100%;
	padding-top: 58px;
}

footer .all_ft .ft_logo {
	text-align: center;
	position: relative;
	z-index: 1;
	width: 273px;
	margin-left: auto;
	margin-right: auto;
}

footer .all_ft .ft_logo a {
	display: block;
}

footer .all_ft .ft_logo .logo img {
	width: 273px;
}

footer .all_ft .ft_logo a.fb_logo {
	position: absolute;
	top: 50%;
	right: -110px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

footer .all_ft .ft_logo a.fb_logo img {
	width: 36px;
}

footer .all_ft .txt {
	text-align: center;
	font-size: 14px;
	color: #000000;
	line-height: 175%;
}

footer .all_ft .txt .txt01 {
	margin-bottom: 5px;
	margin-top: 20px;
}

footer .all_ft .txt .txt01 a {
	color: #182B7B;
}

footer .all_ft .txt .txt02 a {
	text-decoration: none;
	color: inherit;
}

footer .all_ft .ft_menu {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

footer .all_ft .ft_menu>ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer .all_ft .ft_menu>ul>li>a {
	font-size: 14px;
	font-weight: bold;
	line-height: 175%;
	color: #000000;
}

footer .all_ft .ft_menu>ul .sub_menu li a {
	font-size: 12px;
	line-height: 175%;
	color: #000000;
	position: relative;
	z-index: 1;
	padding-left: 52px;
}

footer .all_ft .ft_menu>ul .sub_menu {
	margin-top: 3px;
}

footer .all_ft .ft_menu>ul .sub_menu li a::before {
	content: "";
	height: 1px;
	width: 48px;
	position: absolute;
	top: 9px;
	left: 0;
	z-index: 2;
	background-color: #000000;
}

footer .all_ft .ft_pri {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

footer .all_ft .ft_pri a {
	color: #182B7B;
	font-size: 14px;
	line-height: 175%;
}

footer .all_ft .ft_pri a img {
	width: 18px;
	margin-right: 8px;
}

footer .all_ft .div_copy {
	margin-top: 8px;
	background-color: #DCDCDC;
	color: #8F8F8F;
	font-size: 13px;
	text-align: center;
	line-height: 175%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backtop{
	position: fixed;
	bottom:60px;
	right:20px;
	width: 70px;
	z-index: 9;
	cursor: pointer;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.backtop:hover{
	opacity: 0.75;
}