@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "メイリオ", 'Meiryo', sans-serif;
	color: #000000;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	background-size: 15px 15px;
	overflow-x: hidden;
}

.rows,
header,
section,
footer {
	width: 100%;
	float: left;
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a:hover,
a:focus,
a:visited {
	outline: none;
	border: none;
}

.cont {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
}

.cont2 {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

.cont_full {
	width: 100%;
	max-width: 1830px;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit
}

.clear {
	clear: both;
}

a[href^="tel:"] {
	cursor: default;
}

a[href^="tel:"]:hover {
	text-decoration: none;
}

.ow {
	width: 100%;
	overflow: hidden;
}

br {
	font-size: 0;
}

.hide_sp {
	display: inline-block;
}

.show_sp {
	display: none;
}

/* HEADER */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

header.active {
	position: fixed;
}

header.hd_all_page.active {
	position: fixed;
}

header .all_header {
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

header.hd_all_page {
	position: relative;
}

header.hd_all_page .all_header {
	background-image: url(../img/hd_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30px;
}

header .all_header .hd_logo {
	width: 356px;
}

header .all_header .hd_menu .hamber_menu img {
	width: 80px;
	margin-right: 5px;
	transition: opacity 1 ease;
	-webkit-transition: opacity 1 ease;
	-moz-transition: opacity 1 ease;
	-ms-transition: opacity 1 ease;
	-o-transition: opacity 1 ease;
	cursor: pointer;
}

header .all_header .hd_menu .hamber_menu img:hover {
	opacity: 0.8;
}

header .all_header .hd_menu .hamber_menu img.menu_ope {
	display: none;
}

header .all_header .hd_menu.active .hamber_menu img.menu_ope {
	display: block;
}

header .all_header .hd_menu.active .hamber_menu img.menu_nor {
	display: none;
}

header .all_header .hd_menu .hamber_menu {
	position: relative;
}

header .all_header .hd_menu .hamber_menu.active {
	z-index: 3;
}

header .all_header .hd_menu.active::before {
	content: "";
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

header .all_header .hd_menu .list_menu {
	position: fixed;
	top: 0;
	right: -680px;
	z-index: 2;
	width: 680px;
	background-color: #0B2264;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

header .all_header .hd_menu.active .list_menu {
	right: -0;
}

header .all_header .hd_menu .list_menu .all_list_content .txt {
	font-weight: bold;
	font-size: 15px;
	line-height: 175%;
	position: relative;
	z-index: 1;
	color: #fff;
	padding-left: 65px;
}

header .all_header .hd_menu .list_menu .all_list_content .txt::before {
	content: "";
	height: 1px;
	width: 60px;
	background-color: #fff;
	position: absolute;
	top: 11px;
	left: 0;
	z-index: 2;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 470px;
	margin-top: 55px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist {
	width: 42.554%;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li {
	margin-bottom: 50px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li>a {
	font-size: 30px;
	line-height: 160%;
	color: #FFFFFF;
	font-weight: bold;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu {
	margin-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 175%;
	position: relative;
	z-index: 1;
	padding-left: 52px;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a::before {
	content: "";
	height: 1px;
	width: 48px;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 2;
	background-color: #FFFFFF;
}

header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist.row2>ul>li>a {
	font-size: 18px;
	line-height: 190%;
}

/* FOOTER */

#sec_ft {
	background-color: #17297B;
	padding-top: 45px;
	padding-bottom: 55px;
}

#sec_ft .title {
	text-align: center;
}

#sec_ft .title img {
	width: 205px;
}

#sec_ft .txt {
	font-size: 15px;
	line-height: 175%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 10px;
	letter-spacing: 1px;
}

#sec_ft .div_2 {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 40px;
}

#sec_ft .div_2 .col {
	width: 50%;
	position: relative;
	z-index: 1;
	padding-left: 85px;
	padding-top: 11px;
}

#sec_ft .div_2 .col:not(:last-child) {
	padding-right: 60px;
	padding-left: 0;
	text-align: right;
	padding-top: 8px;
}

#sec_ft .div_2 .col:not(:last-child):after {
	content: "";
	height: 90px;
	width: 1px;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

#sec_ft .div_2 .col img.tel_ft {
	width: 377px;
}

#sec_ft .div_2 .col img.form_ft {
	width: 300px;
}

footer .all_ft {
	width: 100%;
	padding-top: 58px;
}

footer .all_ft .ft_logo {
	text-align: center;
	position: relative;
	z-index: 1;
	width: 273px;
	margin-left: auto;
	margin-right: auto;
}

footer .all_ft .ft_logo a {
	display: block;
}

footer .all_ft .ft_logo .logo img {
	width: 273px;
}

footer .all_ft .ft_logo a.fb_logo {
	position: absolute;
	top: 50%;
	right: -110px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

footer .all_ft .ft_logo a.fb_logo img {
	width: 36px;
}

footer .all_ft .txt {
	text-align: center;
	font-size: 14px;
	color: #000000;
	line-height: 175%;
}

footer .all_ft .txt .txt01 {
	margin-bottom: 5px;
	margin-top: 20px;
}

footer .all_ft .txt .txt01 a {
	color: #182B7B;
}

footer .all_ft .txt .txt02 a {
	text-decoration: none;
	color: inherit;
}

footer .all_ft .ft_menu {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

footer .all_ft .ft_menu>ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer .all_ft .ft_menu>ul>li>a {
	font-size: 14px;
	font-weight: bold;
	line-height: 175%;
	color: #000000;
}

footer .all_ft .ft_menu>ul .sub_menu li a {
	font-size: 12px;
	line-height: 175%;
	color: #000000;
	position: relative;
	z-index: 1;
	padding-left: 52px;
}

footer .all_ft .ft_menu>ul .sub_menu {
	margin-top: 3px;
}

footer .all_ft .ft_menu>ul .sub_menu li a::before {
	content: "";
	height: 1px;
	width: 48px;
	position: absolute;
	top: 9px;
	left: 0;
	z-index: 2;
	background-color: #000000;
}

footer .all_ft .ft_pri {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

footer .all_ft .ft_pri a {
	color: #182B7B;
	font-size: 14px;
	line-height: 175%;
}

footer .all_ft .ft_pri a img {
	width: 18px;
	margin-right: 8px;
}

footer .all_ft .div_copy {
	margin-top: 8px;
	background-color: #DCDCDC;
	color: #8F8F8F;
	font-size: 13px;
	text-align: center;
	line-height: 175%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backtop {
	position: fixed;
	bottom: 60px;
	right: 20px;
	width: 70px;
	z-index: 9;
	cursor: pointer;
	transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
}

.backtop:hover {
	opacity: 0.75;
}

#page_banner {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	background-color: #D6D6D6;
	background-image: url(../img/banner_bg.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
}

#page_banner .img {
	width: 34.375%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#page_banner .text {
	width: 65.625%;
	padding-top: 80px;
	padding-left: 60px;
	padding-bottom: 20px;
	padding-right: 20px;
}

#page_banner .text .txt {
	font-size: 15px;
	line-height: 175%;
	color: #182B7B;
	margin-left: 45px;
	margin-top: 20px;
	display: block;
}

#page_banner .text img.banner_bus {
	width: 300px;
	display: block;
}

#page_banner .text img.banner_bus.show_sp {
	display: none;
}

#page_breadcrumb {
	padding-left: 30px;
	padding-right: 30px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #FFFFFF;
}

#page_breadcrumb ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#page_breadcrumb ul li {
	font-weight: bold;
	font-size: 14px;
	line-height: 175%;
	color: #BCBCBC;
}

#page_breadcrumb ul li:not(:last-child)::after {
	content: "○";
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

#page_breadcrumb ul li a {
	color: inherit;
}

/* TOP */

#sec_slide {
	position: relative;
	z-index: 1;
}

#sec_slide .slider::after {
	content: "";
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url(../img/slide_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#sec_slide .btn_scroll {
	position: absolute;
	z-index: 7;
	bottom: 25px;
	left: 30px;
	width: 25px;
	cursor: pointer;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	animation-direction: sdb 2s alternate;
}

#sec_slide .txt_onslide {
	position: absolute;
	z-index: 6;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 882px;
}

#sec_slide .txt_onslide .txt {
	font-weight: bold;
	font-size: 16px;
	line-height: 175%;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
}

#sec_slide .txt_onslide .img {
	width: 882px;
}

#sec_slide .slider .slider__counter {
	position: relative;
}

#sec_slide .pagingInfo {
	display: none;
}

#sec_slide .slider .slick-dots {
	position: absolute;
	z-index: 6;
	bottom: 55px;
	right: 25px;
}

#sec_slide .slider .slick-dots li {
	margin-bottom: 20px;
}

#sec_slide .slider .slick-dots li a {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 3px;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

#sec_slide .slider .slick-dots li.slick-active a,
#sec_slide .slider .slick-dots li:hover a {
	border: 1.5px solid #FFFFFF;
}

#sec_slide .slider .slick-slide * {
	vertical-align: middle;
}

#top_info {
	background-image: url(../img/top_bg01.png);
	background-position: center center;
	background-repeat: repeat-y;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#top_info .title_info {
	width: 31.25%;
	background-color: #DCDCDC;
	text-align: right;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
}

#top_info .title_info img {
	width: 140px;
}

#top_info .all_txt {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 110px;
	width: 68.75%;
}

#top_info .all_txt .date {
	font-size: 14px;
	font-weight: bold;
	line-height: 175%;
	letter-spacing: 1px;
	color: #C2C2C2;
	margin-right: 30px;
}

#top_info .all_txt .cate {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 100%;
	color: #182B7B;
	padding-left: 12px;
	border-left: 2px solid #1B307A;
}

#top_info .all_txt .txt {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 175%;
	color: #000000;
	margin-left: 60px;
}

#top_01 {
	background-color: #0C1E7E;
	background-image: url(../img/top_info03.png), url(../img/top_info02.png);
	background-position: top right, center left 14.0625vw;
	background-repeat: no-repeat;
	background-size: 100vw, 420px;
}

#top_01 .cont {
	text-align: center;
	padding-top: 44px;
	padding-bottom: 65px;
}

#top_01 .title {
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 44px;
}

#top_01 .table {
	width: 540px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 40px;
}

#top_01 .txt {
	width: 793px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 200%;
	color: #FFFFFF;
}

#top_02 {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

#top_02 .row50 {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 760px;
}

#top_02 .row50 .img_title img {
	margin-left: -40px;
}

#top_02 .row50 .img_bus {
	width: 300px;
}

#top_02 .row50 .title {
	font-size: 15px;
	line-height: 175%;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin-top: 7px;
}

#top_02 .row50 .txt {
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 175%;
	margin-top: 15px;
	min-height: 78px;
}

#top_02 .row50 .div_btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#top_02 .row50 .div_btn a {
	width: 210px;
	height: 56px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 240px;
	background-image: url(../img/top_br01.svg);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 25px;
	font-size: 15px;
	line-height: 175%;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-decoration: none;
	transition: opacity ease 0.5s;
	-webkit-transition: opacity ease 0.5s;
	-moz-transition: opacity ease 0.5s;
	-ms-transition: opacity ease 0.5s;
	-o-transition: opacity ease 0.5s;
}

#top_02 .row50 .div_btn a:hover {
	opacity: 0.75;
}

#top_02 .row50:first-child {
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 30px;
	position: relative;
	z-index: 1;
}

#top_02 .row50:first-child::after,
#top_02 .row50 .col50::after {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
}

#top_02 .row50:first-child:hover::after,
#top_02 .row50 .col50:hover::after {
	opacity: 1;
}

#top_02 .row50 .text {
	position: relative;
	z-index: 3;
}

#top_02 .row50 .col50 .img_rec {
	width: 195px;
}

#top_02 .row50 .col50 .img_com {
	width: 215px;
}

#top_02 .row50 .col50 {
	width: 100%;
	height: 380px;
	padding-left: 67px;
	padding-right: 67px;
	padding-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 1;
}

#top_02 .row50 .col50 .txt {
	margin-bottom: 15px;
}

#top_03 {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

#top_03 .col3 {
	width: 33.3333%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#top_03 .col3 .all_txt {
	position: relative;
	z-index: 5;
	text-align: center;
	width: 465px;
}

#top_03 .col3:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#top_03 .col3 .all_txt .title {
	font-weight: bold;
	font-size: 24px;
	line-height: 175%;
	letter-spacing: 1px;
	color: #FFFFFF;
}

#top_03 .col3 .all_txt .txt {
	font-weight: bold;
	font-size: 15px;
	line-height: 175%;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: left;
	margin-top: 40px;
}

/* OUR BUSINESS */

#bus_sec01 {
	background-image: url(../img/bus_bg01.png), url(../img/bus_bg01_after.png);
	background-position: center top, bottom center;
	background-repeat: no-repeat;
	background-size: auto calc(420px - 73px), auto 73px;
	position: relative;
	z-index: 1;
	height: 420px;
}

#bus_sec01 .img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#bus_sec01 .all_text {
	position: relative;
	z-index: 3;
	top: 135px;
}

#bus_sec01 .all_text .txt {
	background-color: #fff;
	width: 775px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#bus_sec01 .all_text .txt img {
	width: 271px;
}

#bus_sec01 .all_text .txt2 {
	margin-top: 25px;
	font-weight: bold;
	font-size: 30px;
	color: #182B7B;
	background-color: #fff;
	text-align: center;
	width: 775px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#bus_sec02 {
	background-color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 1110px;
}

#bus_sec02 .div_img {
	position: absolute;
	top: 390px;
	left: 0;
	height: 720px;
	width: 1130px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 2;
}

#bus_sec02 .div_bg {
	background-color: #182B7B;
	width: 89.584%;
	height: 1020px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

#bus_sec02 .cont2 {
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

#bus_sec02 .cont2 .col50_1 {
	width: 44.531%;
	text-align: right;
	padding-top: 10px;
}

#bus_sec02 .cont2 .col50_1 img {
	width: 400px;
	margin-right: 30px;
}

#bus_sec02 .cont2 .col50_2 {
	width: 55.469%;
	padding-left: 90px;
	padding-right: 150px;
	padding-bottom: 110px;
	background-color: #182B7B;
	background-image: url(../img/bus_bg02.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}

#bus_sec02 .cont2 .col50_2 .title {
	font-weight: bold;
	font-size: 30px;
	line-height: 175%;
	color: #fff;
	margin-bottom: 75px;
}

#bus_sec02 .cont2 .col50_2 .txt {
	font-size: 15px;
	line-height: 213%;
	letter-spacing: 1px;
	color: #fff;
}

#bus_sec03 {
	padding-top: 110px;
}

#bus_sec03 .cont {
	padding-left: 40px;
	padding-right: 20px;
}

#bus_sec03 h3.title {
	margin-bottom: 90px;
}

#bus_sec03 h3.title img {
	width: 370px;
}

#bus_sec03 .all_item .item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-left: 10px;
	margin-bottom: 42px;
}

#bus_sec03 .all_item .item .img {
	width: 33.35%;
	height: 280px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#bus_sec03 .all_item .item .text {
	width: 63.636%;
	padding-top: 10px;
}

#bus_sec03 .all_item .item .text .title {
	font-weight: bold;
	font-size: 26px;
	line-height: 175%;
	color: #000000;
}

#bus_sec03 .all_item .item .text .txt {
	font-size: 15px;
	line-height: 175%;
	color: #000000;
	margin-top: 15px;
	letter-spacing: 1px;
}

#bus_sec03 .all_item .item .text .btn_div {
	width: 300px;
	display: block;
	margin-top: 45px;
}

#bus_sec03 .div_img {
	width: 100%;
	height: 660px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-top: 150px;
}

#bus_sec04 .cont2 {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-top: 158px;
}

#bus_sec04 .col_img {
	width: 57.8125%;
	background-position: top 20px center;
	background-repeat: no-repeat;
	background-size: contain;
}

#bus_sec04 .col_txt {
	width: 32.03125%;
	margin-left: 90px;
}

#bus_sec04 .col_txt h3.title {
	margin-bottom: 37px;
}

#bus_sec04 .col_txt h3.title img {
	width: 227px;
}

#bus_sec04 .col_txt .all_item .titl_ul {
	font-size: 15px;
	font-weight: bold;
	line-height: 175%;
	letter-spacing: 1px;
	color: #000000;
	padding-left: 3px;
}

#bus_sec04 .col_txt .all_item .div_ul {
	background-color: #E2E2E2;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bus_sec04 .col_txt .all_item li {
	font-size: 15px;
	letter-spacing: 1px;
	color: #000000;
	position: relative;
	line-height: 175%;
}

#bus_sec05 {
	padding-top: 155px;
}

#bus_sec05 h3.title {
	width: 370px;
	margin-left: 40px;
}

#bus_sec05 .div_img {
	width: 1056px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#bus_sec05 .div_all_item {
	margin-top: 95px;
}

#bus_sec05 .div_all_item .item {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

#bus_sec05 .div_all_item .item .text {
	width: 41.379%;
	padding-top: 58px;
}

#bus_sec05 .div_all_item .item .text .title img {
	width: 75px;
	margin-right: 25px;
}

#bus_sec05 .div_all_item .item .text .title {
	font-size: 30px;
	font-weight: bold;
	line-height: 175%;
	color: #182B7B;
}

#bus_sec05 .div_all_item .item .text .txt {
	font-size: 15px;
	line-height: 175%;
	letter-spacing: 1px;
	color: #000000;
	margin-top: 35px;
}

#bus_sec05 .div_all_item .item .img {
	width: 53.706%;
}

@-webkit-keyframes sdb {
	0% {
		-webkit-transform: translate(0, 0);
	}

	20% {
		-webkit-transform: translate(0, 8px);
	}

	40% {
		-webkit-transform: translate(0, 0);
	}
}

@keyframes sdb {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, 8px);
	}

	40% {
		transform: translate(0, 0);
	}
}

@media screen and (max-width:1900px) {


	#bus_sec03 .div_img {
		height: 34.737vw;
		margin-top: 7.895vw;
	}

	#bus_sec02 .cont2 {
		padding-top: 3.684vw;
	}

	#bus_sec02 .div_img {
		top: 20.526vw;
		height: 37.895vw;
		width: 59.474vw;
	}

	#bus_sec02 .cont2 .col50_1 img {
		width: 21.053vw;
		margin-right: 1.579vw;
	}

	#bus_sec02 .cont2 .col50_2 {
		padding-left: 4.737vw;
		padding-right: 7.895vw;
		padding-bottom: 5.789vw;
		background-position: left bottom;
	}

	#bus_sec02 .cont2 .col50_2 .title {
		font-size: 1.579vw;
		margin-bottom: 3.947vw;
	}

	#bus_sec02 .cont2 .col50_2 .txt {
		font-size: 0.789vw;
	}

	#bus_sec02 .div_bg {
		height: 53.684vw;
	}

	#bus_sec02 {
		height: 58.421vw;
	}
}

@media screen and (max-width:1700px) {

	#top_info .title_info {
		height: 4.706vw;
		padding-right: 2.941vw;
	}

	#top_info .title_info img {
		width: 8.235vw;
	}

	#top_info .all_txt {
		padding-left: 6.471vw;
	}

	#top_info .all_txt .date {
		font-size: 0.824vw;
		margin-right: 1.765vw;
	}

	#top_info .all_txt .cate {
		font-size: 0.941vw;
		padding-left: 0.706vw;
	}

	#top_info .all_txt .txt {
		font-size: 0.882vw;
		margin-left: 3.529vw;
	}

	#top_01 {
		background-size: 100vw, 24.706vw;
	}

	#top_01 .cont {
		padding-top: 2.588vw;
		padding-bottom: 3.824vw;
	}

	#top_01 .title {
		width: 41.176vw;
		margin-bottom: 2.588vw;
	}

	#top_01 .table {
		width: 31.765vw;
		margin-bottom: 2.353vw;
	}

	#top_01 .txt {
		width: 46.647vw;
		font-size: 0.882vw;
	}

	#top_02 .row50 {
		height: 44.706vw;
	}

	#top_02 .row50 .img_title img {
		margin-left: -2.353vw;
	}

	#top_02 .row50 .img_bus {
		width: 17.647vw;
	}

	#top_02 .row50 .title {
		font-size: 0.882vw;
		margin-top: 0.412vw;
	}

	#top_02 .row50 .txt {
		font-size: 0.882vw;
		margin-top: 0.882vw;
		min-height: 4.588vw;
	}

	#top_02 .row50 .div_btn a {
		width: 12.353vw;
		height: 3.294vw;
		background-size: 14.118vw;
		margin-right: 1.471vw;
		font-size: 0.882vw;
	}

	#top_02 .row50:first-child {
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 1.765vw;
	}

	#top_02 .row50 .col50 .img_rec {
		width: 11.471vw;
	}

	#top_02 .row50 .col50 .img_com {
		width: 12.647vw;
	}

	#top_02 .row50 .col50 {
		height: 22.353vw;
		padding-left: 3.941vw;
		padding-right: 3.941vw;
		padding-bottom: 1.765vw;
	}

	#top_02 .row50 .col50 .txt {
		margin-bottom: 0.882vw;
	}

	#top_03 .col3 {
		height: 23.529vw;
	}

	#top_03 .col3 .all_txt {
		width: 27.353vw;
	}

	#top_03 .col3 .all_txt .title {
		font-size: 1.412vw;
	}

	#top_03 .col3 .all_txt .txt {
		font-size: 0.882vw;
		margin-top: 2.353vw;
	}
}

@media screen and (max-width:1160px) {

	#bus_sec04 .cont2 {
		padding-top: 13.621vw;
	}

	#bus_sec04 .col_txt {
		margin-left: 7.759vw;
	}

	#bus_sec04 .col_txt h3.title {
		margin-bottom: 3.190vw;
	}

	#bus_sec04 .col_txt .all_item .div_ul {
		margin-bottom: 1.293vw;
		padding-left: 1.293vw;
		padding-right: 1.724vw;
		padding-top: 0.862vw;
		padding-bottom: 0.862vw;
	}

	#bus_sec05 {
		padding-top: 13.362vw;
	}

	#bus_sec05 h3.title {
		width: 31.897vw;
		margin-left: 3.448vw;
	}

	#bus_sec05 .div_img {
		width: 91.034vw;
		margin-top: 8.621vw;
	}

	#bus_sec05 .div_all_item {
		margin-top: 8.190vw;
	}

	#bus_sec05 .div_all_item .item {
		margin-bottom: 2.155vw;
	}

	#bus_sec05 .div_all_item .item .text {
		padding-top: 5vw;
	}

	#bus_sec05 .div_all_item .item .text .title {
		font-size: 2.586vw;
	}

	#bus_sec05 .div_all_item .item .text .title img {
		width: 6.466vw;
		margin-right: 2.155vw;
	}

	#bus_sec05 .div_all_item .item .text .txt {
		font-size: 1.293vw;
		margin-top: 3.017vw;
	}

	#bus_sec04 .col_txt .all_item .titl_ul {
		font-size: 1.293vw;
		padding-left: 0.259vw;
	}

	#bus_sec04 .col_txt .all_item li {
		font-size: 1.293vw;
	}

	#bus_sec04 .col_img {
		background-position: top 1.724vw center;
	}

	#bus_sec04 .col_txt h3.title img {
		width: 19.569vw;
	}

	#bus_sec03 {
		padding-top: 9.483vw;
	}

	#bus_sec03 .cont {
		padding-left: 20px;
		padding-right: 20px;
	}

	#bus_sec03 h3.title {
		margin-bottom: 7.759vw;
	}

	#bus_sec03 h3.title img {
		width: 31.897vw;
	}

	#bus_sec03 .all_item .item {
		padding-left: 0.862vw;
		margin-bottom: 3.621vw;
	}

	#bus_sec03 .all_item .item .img {
		height: 24.138vw;
	}

	#bus_sec03 .all_item .item .text {
		padding-top: 0.862vw;
	}

	#bus_sec03 .all_item .item .text .title {
		font-size: 2.241vw;
	}

	#bus_sec03 .all_item .item .text .txt {
		font-size: 1.293vw;
		margin-top: 1.293vw;
	}

	#bus_sec03 .all_item .item .text .btn_div {
		width: 25.862vw;
		margin-top: 3.879vw;
	}

	#page_banner .img {
		height: 25.862vw;
	}

	#page_banner .text {
		padding-top: 6.897vw;
		padding-left: 5.172vw;
		padding-bottom: 1.724vw;
		padding-right: 1.724vw;
	}

	#page_banner .text img.banner_bus {
		width: 25.862vw;
	}

	#page_breadcrumb {
		padding-left: 15px;
		padding-right: 15px;
		height: 5.172vw;
	}

	#page_breadcrumb ul li {
		font-size: 1.207vw;
	}

	#bus_sec01 .img {
		height: 34.914vw;
	}

	#bus_sec01 .all_text .txt {
		width: 66.810vw;
		height: 2.414vw;
	}

	#bus_sec01 .all_text {
		top: 11.638vw;
	}

	#bus_sec01 .all_text .txt2 {
		margin-top: 2.155vw;
		font-size: 2.586vw;
		width: 66.810vw;
		height: 6.034vw;
	}

	#bus_sec01 {
		background-size: auto calc(36.207vw - 6.293vw), auto 6.393vw;
		height: 36.207vw;
		margin-bottom: -1px;
	}

	#bus_sec01 .all_text .txt img {
		width: 23.362vw;
	}

	#page_banner .text .txt {
		font-size: 1.293vw;
		margin-left: 3.879vw;
		margin-top: 1.724vw;
	}

	.cont,
	.cont2,
	.cont_full {
		padding-left: 20px;
		padding-right: 20px;
	}

	header .all_header {
		padding-left: 3.017vw;
		padding-right: 3.017vw;
		padding-top: 2.586vw;
	}

	header .all_header .hd_logo {
		width: 30.690vw;
	}

	header .all_header .hd_menu .hamber_menu img {
		width: 6.897vw;
		margin-right: 0.431vw;
	}

	header .all_header .hd_menu .list_menu {
		right: -58.621vw;
		width: 58.621vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .txt {
		font-size: 1.293vw;
		padding-left: 5.603vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .txt::before {
		width: 5.172vw;
		top: 0.948vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row {
		width: 40.517vw;
		margin-top: 4.741vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li {
		margin-bottom: 4.310vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li>a {
		font-size: 2.586vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu {
		margin-top: 0.862vw;
		padding-bottom: 1.293vw;
		padding-left: 1.724vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a {
		font-size: 1.293vw;
		padding-left: 4.483vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a::before {
		width: 4.138vw;
		top: 0.862vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist.row2>ul>li>a {
		font-size: 1.552vw;
	}

	#sec_ft {
		padding-top: 3.879vw;
		padding-bottom: 4.741vw;
	}

	#sec_ft .title img {
		width: 17.672vw;
	}

	#sec_ft .txt {
		font-size: 1.293vw;
		margin-top: 0.862vw;
	}

	#sec_ft .div_2 {
		margin-top: 3.448vw;
	}

	#sec_ft .div_2 .col:not(:last-child) {
		padding-right: 5.172vw;
		padding-top: 0.690vw;
	}

	#sec_ft .div_2 .col img.tel_ft {
		width: 32.500vw;
	}

	#sec_ft .div_2 .col:not(:last-child):after {
		height: 7.759vw;
	}

	#sec_ft .div_2 .col {
		padding-left: 7.328vw;
		padding-top: 0.948vw;
	}

	#sec_ft .div_2 .col img.form_ft {
		width: 25.862vw;
	}

	#sec_slide .txt_onslide .img,
	#sec_slide .txt_onslide {
		width: 76.034vw;
	}

	#sec_slide .txt_onslide .txt {
		font-size: 1.379vw;
		padding-top: 2.586vw;
	}

	#sec_slide .slider .slick-dots li a {
		width: 3.966vw;
		height: 3.966vw;
		font-size: 1.293vw;
		padding-top: 0.259vw;
	}

	#sec_slide .slider .slick-dots li {
		margin-bottom: 1.724vw;
	}

	#sec_slide .slider .slick-dots {
		bottom: 4.741vw;
		right: 2.155vw;
	}

	#sec_slide .btn_scroll {
		bottom: 2.155vw;
		left: 2.586vw;
		width: 2.155vw;
	}
}

@media screen and (max-width:840px) {
	footer .all_ft {
		padding-top: 7.250vw;
	}

	footer .all_ft .ft_logo,
	footer .all_ft .ft_logo .logo img {
		width: 34.125vw;
	}

	footer .all_ft .ft_logo a.fb_logo {
		right: -13.750vw;
	}

	footer .all_ft .ft_logo a.fb_logo img {
		width: 4.500vw;
	}

	footer .all_ft .txt .txt01 {
		margin-bottom: 0.625vw;
		margin-top: 2.500vw;
	}

	footer .all_ft .txt {
		font-size: 1.750vw;
	}

	footer .all_ft .ft_menu {
		margin-top: 10vw;
	}

	footer .all_ft .ft_menu>ul>li>a {
		font-size: 1.750vw;
	}

	footer .all_ft .ft_menu>ul .sub_menu li a {
		font-size: 1.500vw;
		padding-left: 6.500vw;
	}

	footer .all_ft .ft_menu>ul .sub_menu li a::before {
		width: 6vw;
		top: 1.125vw;
	}

	footer .all_ft .ft_pri a {
		font-size: 1.750vw;
	}

	footer .all_ft .ft_pri a img {
		width: 2.250vw;
		margin-right: 1vw;
	}

	footer .all_ft .div_copy {
		margin-top: 1vw;
		font-size: 1.625vw;
		height: 5vw;
	}
}

@media screen and (max-width:767px) {

	#bus_sec05 h3.title {
		width: 48.240vw;
		margin-left: 0;
	}
	#bus_sec05 .div_img {
		width: 100%;
	}

	#bus_sec05 .div_all_item .item {
		margin-bottom: 7.7vw;
	}

	#bus_sec05 .div_all_item .item .text {
		padding-top: 0vw;
		width: 100%;
	}

	#bus_sec05 .div_all_item .item .text .title {
		font-size: 3.911vw;
	}

	#bus_sec05 .div_all_item .item .text .title img {
		width: 9.778vw;
		margin-right: 3.259vw;
	}

	#bus_sec05 .div_all_item .item .text .txt {
		font-size: 1.956vw;
	}

	#bus_sec05 .div_all_item .item .img {
		margin-top: 3.017vw;
		width: 100%;
	}

	#bus_sec04 .cont2 {
		flex-wrap: wrap;
	}

	#bus_sec04 .col_txt h3.title {
		margin-bottom: 7.759vw;
	}

	#bus_sec04 .col_txt h3.title img {
		width: 29.596vw;
	}

	#bus_sec04 .col_txt .all_item .div_ul {
		margin-bottom: 1.956vw;
		padding-left: 1.956vw;
		padding-right: 2.608vw;
		padding-top: 1.304vw;
		padding-bottom: 1.304vw;
	}

	#bus_sec04 .col_txt .all_item .titl_ul {
		font-size: 1.956vw;
		padding-left: 0.391vw;
	}

	#bus_sec04 .col_txt .all_item li {
		font-size: 1.956vw;
	}

	#bus_sec04 .col_img {
		width: 100%;
		height: 88.266vw;
		background-position: top 0px center;
	}

	#bus_sec04 .col_txt {
		margin-left: 0;
		width: 100%;
	}

	#bus_sec03 .div_img {
		height: 203.390vw;
		margin-top: 4.302vw;
		background-image: url(../img/bus_img08_sp.png) !important;
		width: 88.657vw;
		margin-left: auto;
		margin-right: auto;
	}

	#bus_sec03 h3.title img {
		width: 48.240vw;
	}

	#bus_sec03 .all_item .item {
		padding-left: 0;
		margin-bottom: 10vw;
	}

	#bus_sec03 .all_item .item .text .title {
		font-size: 3.390vw;
	}
	
	#bus_sec03 .all_item .item .text .txt {
		font-size: 1.956vw;
		margin-top: 1.956vw;
	}

	#bus_sec03 .all_item .item .text .btn_div {
		width: 39.113vw;
		margin-top: 3.879vw;
		margin-left: auto;
		margin-right: auto;
	}

	#bus_sec03 .all_item .item .img {
		width: 100%;
		height: 36.506vw;
	}

	#bus_sec03 .all_item .item .text {
		width: 100%;
		padding-top: 2vw;
	}

	#bus_sec02 {
		height: auto;
	}

	#bus_sec02 .div_bg {
		height: auto;
		display: none;
	}

	#bus_sec02 .div_img {
		display: none;
	}

	#bus_sec02 .cont2 .col50_1 .title {
		font-size: 5.606vw;
		font-weight: bold;
		text-align: left;
		color: #FFFFFF;
		line-height: 175%;
	}

	#bus_sec02 .cont2 {
		flex-wrap: wrap;
		padding-left: 0;
		padding-right: 0;
		background-color: #182B7B;
		padding-top: 5.571vw;
	}

	#bus_sec02 .cont2 .col50_1 img {
		width: 62.842vw;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 2.999vw;
		margin-bottom: 6.519vw;
	}

	#bus_sec02 .cont2 .col50_2 {
		padding-left: 6.128vw;
		padding-right: 6.128vw;
		padding-bottom: 20.860vw;
		width: 100%;
		background-position: center bottom;
	}

	#bus_sec02 .cont2 .col50_2 .title {
		display: none;
	}

	#bus_sec02 .cont2 .col50_2 .txt {
		font-size: 2.999vw;
		letter-spacing: 1px;
		line-height: 156%;
		font-weight: bold;
		margin-top: 7.171vw;
	}

	#bus_sec02 .cont2 .col50_1 {
		width: 100%;
		padding-top: 10px;
		text-align: left;
		padding-left: 6.128vw;
		padding-right: 6.128vw;
	}

	#page_breadcrumb {
		height: 9.778vw;
	}

	#page_breadcrumb ul li {
		font-size: 1.825vw;
	}

	#bus_sec01 {
		background-image: url(../img/bus_bg01_sp.png), url(../img/bus_bg01_after_sp.png);
		background-size: auto calc(54.759vw - 9.126vw), auto 9.126vw;
		height: 54.759vw;
	}

	#bus_sec01 .all_text {
		top: 16.949vw;
	}

	#bus_sec01 .all_text .txt {
		width: 100%;
		height: 3.651vw;
	}

	#bus_sec01 .all_text .txt img {
		width: 29.205vw;
	}

	#bus_sec01 .all_text .txt2 {
		margin-top: 3.129vw;
		font-size: 3.911vw;
		width: 100%;
		;
		height: 9.126vw;
	}

	#bus_sec01 .cont {
		padding-left: 0;
		padding-right: 0;
	}

	#bus_sec01 .img {
		height: 52.803vw;
	}

	#page_banner .img {
		height: 15.254vw;
	}

	#page_banner .text {
		padding-top: 2.608vw;
		padding-left: 2.868vw;
		padding-bottom: 1.724vw;
		padding-right: 1.724vw;
	}

	#page_banner .text img.banner_bus {
		width: 29.596vw;
		display: none;
	}


	#page_banner .text img.banner_bus.show_sp {
		display: inline-block;
	}

	#page_banner .text .txt {
		font-size: 3.259vw;
		margin-left: 5.867vw;
		margin-top: 1.256vw;
	}

	#top_02 .row50 .img {
		width: 100%;
	}

	.backtop {
		bottom: 30px;
		right: 10px;
		width: 50px;
	}

	footer .all_ft .div_copy {
		margin-top: 1vw;
		font-size: 1.695vw;
		height: 5.215vw;
	}

	footer .all_ft .ft_logo,
	footer .all_ft .ft_logo .logo img {
		width: 58.279vw;
	}

	footer .all_ft .ft_logo a.fb_logo {
		right: auto;
		position: relative;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		margin-top: 5.867vw;
	}

	footer .all_ft .txt {
		font-size: 2.216vw;
	}

	footer .all_ft .txt .txt01 {
		margin-top: 7.062vw;
	}

	footer .all_ft .ft_menu {
		margin-top: 5.5vw;
	}

	footer .all_ft .ft_logo a.fb_logo img {
		width: 7.823vw;
	}

	footer .all_ft .ft_pri {
		display: none;
	}

	#sec_ft .title img {
		width: 32.073vw;
	}

	#sec_ft {
		padding-top: 10.691vw;
		padding-bottom: 9.778vw;
	}

	#sec_ft .div_2 .col img.form_ft {
		width: 46.936vw;
	}

	#sec_ft .div_2 .col {
		padding-left: 0;
		padding-top: 0;
		text-align: center;
	}

	#sec_ft .div_2 .col:not(:last-child) {
		padding-right: 0;
		padding-top: 0;
		text-align: center;
		margin-bottom: 5.867vw;
	}

	#sec_ft .div_2 {
		margin-top: 5.867vw;
	}

	#sec_ft .txt {
		font-size: 2.608vw;
		margin-top: 1.434vw;
	}

	#sec_ft .div_2 .colP {
		text-align: center;
	}

	#sec_ft .div_2 .col img.tel_ft {
		width: 58.931vw;
	}

	#sec_ft .div_2 .col:not(:last-child):after {
		content: none;
	}

	#sec_ft .div_2 .col {
		width: 100%;
	}

	footer .all_ft .ft_menu>ul {
		display: none;
	}

	header .all_header .hd_menu .list_menu {
		right: -100vw;
		width: 100vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .txt {
		font-size: 3.459vw;
		padding-left: 8.475vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 90vh;
	}

	header .all_header .hd_menu .list_menu .all_list_content .txt::before {
		width: 7.823vw;
		top: 2.634vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row {
		width: 61.278vw;
		margin-top: 7.171vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul>li>a {
		font-size: 4.259vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a {
		font-size: 3.293vw;
		padding-left: 7vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu li a::before {
		width: 6.258vw;
		top: 1.504vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist>ul .sub_menu {
		margin-top: 1.304vw;
		padding-bottom: 1.304vw;
		padding-left: 2.608vw;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist {
		width: 100%;
	}

	header .all_header .hd_menu .list_menu .all_list_content .list_2row .rowlist.row2>ul>li>a {
		font-size: 4.259vw;
		line-height: 160%
	}

	.hide_sp {
		display: none;
	}

	.show_sp {
		display: inline-block;
	}

	header .all_header .hd_logo {
		width: 46.415vw;
		margin-top: 2.608vw;
	}

	header .all_header .hd_menu .hamber_menu img {
		width: 10.430vw;
		margin-right: 0;
	}

	header .all_header {
		padding-left: 4.433vw;
		padding-right: 15px;
		padding-top: 15px;
	}

	.cont,
	.cont2,
	.cont_full {
		padding-right: 15px;
		padding-left: 15px;
	}

	#top_02 .row50:first-child:hover::after,
	#top_02 .row50 .col50:hover::after {
		opacity: 0;
	}

	#top_03 {
		background-color: #fff;
		padding-left: 7.171vw;
		padding-right: 7.171vw;
		padding-top: 5.215vw;
		padding-bottom: 5.215vw;
	}

	#top_03 .col3 .all_txt {
		width: 61.278vw;
	}

	#top_03 .col3 .all_txt .title {
		font-size: 3.781vw;
	}

	#top_03 .col3 .all_txt .txt {
		font-size: 2.999vw;
		line-height: 156%;
		margin-top: 4.563vw;
	}

	#top_03 .col3 {
		width: 100%;
		height: 52.151vw;
		margin-bottom: 3.259vw;
	}

	#top_03 .col3:last-child {
		margin-bottom: 0;
	}

	#top_02 .row50 .col50 .img_rec {
		width: 30.639vw;
	}

	#top_02 .row50 .col50 .img_com {
		width: 33.638vw;
	}

	#top_02 .row50 .div_btn {
		justify-content: center;
		margin-top: 1.695vw;
		margin-bottom: 5.867vw;
	}

	#top_02 .row50 .div_btn a {
		width: 32.855vw;
		height: 8.475vw;
		background-size: 37.655vw;
		margin-right: 1.629vw;
		margin-left: 1.629vw;
		font-size: 2.347vw;
		background-position: center center;
	}

	#top_02 {
		background-color: #1A2E7A;
		flex-wrap: wrap;
		padding-left: 4.563vw;
		padding-right: 4.563vw;
	}

	#top_02 .row50 {
		width: 100%;
		height: 44.706vw;
	}

	#top_02 .row50:first-child,
	#top_02 .row50 .col50 {
		background-image: none !important;
	}

	#top_02 .row50 {
		height: auto;
	}

	#top_02 .row50 .col50 {
		height: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1.765vw;
	}

	#top_02 .row50 .img_title {
		margin-top: 4.954vw;
	}

	#top_02 .row50 .img_title img {
		margin-left: 0;
	}

	#top_02 .row50 .img_bus {
		width: 47.066vw;
	}

	#top_02 .row50 .title {
		font-size: 2.347vw;
		margin-top: 1.012vw;
		padding-left: 6.258vw;
	}

	#top_02 .row50 .txt {
		font-size: 2.999vw;
		margin-top: 2.086vw;
		min-height: unset;
		font-weight: normal;
		line-height: 160%;
		padding-left: 1.956vw;
		padding-right: 1.956vw;
	}

	#top_02 .row50:first-child {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1.765vw;
	}

	#top_01 {
		background-size: 54.759vw;
		background-image: url(../img/top_info02.png);
		background-position: top 33.246vw center;
		background-color: #1A2E7A;
	}

	#top_01 .cont {
		padding-top: 5.476vw;
		padding-bottom: 11.734vw;
	}

	#top_01 .table {
		width: 84.485vw;
		margin-bottom: 39.113vw;
	}

	#top_01 .title {
		width: 58.149vw;
		margin-bottom: 5.867vw;
	}

	#top_01 .txt {
		width: 100%;
		line-height: 160%;
		font-weight: normal;
		font-size: 2.999vw;
		padding-left: 4.463vw;
		padding-right: 4.463vw;
	}

	#top_info .title_info {
		height: 10.430vw;
		padding-right: 0;
		text-align: left;
		width: 100%;
		padding-left: 4.302vw;
		padding-right: 4.302vw;
		justify-content: flex-start;
	}

	#top_info {
		background-size: contain;
	}

	#top_info .all_txt {
		height: 10.430vw;
		padding-left: 4.302vw;
		padding-right: 4.302vw;
		width: 100%;
		flex-wrap: nowrap;
	}

	#top_info .all_txt .date {
		font-size: 1.825vw;
		margin-right: 3.911vw;
	}

	#top_info .all_txt .cate {
		font-size: 2.086vw;
		padding-left: 1.695vw;
		white-space: nowrap;
	}

	#top_info .all_txt .txt {
		font-size: 1.956vw;
		margin-left: 7.344vw;
	}

	#top_info .title_info img {
		width: 22.816vw;
	}

	#sec_slide .txt_onslide .img {
		width: 58.018vw;
	}

	#sec_slide .txt_onslide {
		width: 71.708vw;
		text-align: center;
		top: 56%;
	}

	#sec_slide .slider .slick-slide {
		height: 112.125vw;
	}

	#sec_slide .slider .slick-slide img {
		display: none !important;
	}

	#sec_slide .slider::after {
		background-image: url(../img/slide_bg_sp.png);
	}

	#sec_slide .slider .slick-slide .item {
		height: 112.125vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	#sec_slide .slider .slick-dots {
		bottom: 3.911vw;
		right: 20px;
	}

	#sec_slide .slider .slick-dots li {
		margin-bottom: 2.347vw;
	}

	#sec_slide .slider .slick-dots li a {
		width: 5.997vw;
		height: 5.997vw;
		font-size: 1.956vw;
		padding-top: 0.391vw;
	}

	#sec_slide .btn_scroll {
		bottom: 6.519vw;
		left: 3.259vw;
		width: 3.259vw;
	}

	#sec_slide .txt_onslide .txt {
		font-size: 3.259vw;
		padding-top: 3.911vw;
	}
}

@media all and (-ms-high-contrast:none) and (max-width:767px) {
	#sec_slide .txt_onslide {
		top: 33.246vw;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
	}
}

@media screen and (max-width:480px) {
	#bus_sec02 .cont2 .col50_1 .title {
		font-size: 5.206vw;
	}
}

/* ===================
=  世界最速の切断  =
=================== */

.gird-960,
.gird-1840,
.gird-1020 {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.gird-1020 {
	max-width: 1020px;
}

.gird-1840 {
	max-width: 1840px;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#page_banner.group-banner-fastest .text .banner_bus {
	width: 530.745px;
}

.group-fas-01 {
	width: 100%;
	padding-top: 55px;
	padding-bottom: 55px;
	background-image: url(../img/fas-03.jpg);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.group-fas-01 h2 {
	margin-bottom: 37px;
}

.group-fas-01 h2 img {
	display: block;
	margin: 0 auto;
}

.group-fas-01 h2 span {
	display: block;
}

.group-fas-01 h2 span:not(:first-child) {
	margin-top: 36px;
}

.img-fas-01 img {
	width: 300px;
}

.img-fas-02 img {
	width: 941px;
}

.img-fas-03 img {
	width: 180px;
}

.img-fas-03 {
	padding-left: 38px;
}

.iframe-fas-01 {
	width: 100%;
	height: 626px;
	margin-top: 23px;
	position: relative;
}

.iframe-fas-01 iframe {
	width: 100%;
	height: 100%;
	font-size: 0;
}

.rows-fas-02-01 {
	padding-top: 76px;
}

.rows-fas-02-01 ul {
	width: 100%;
	position: relative;
}

.rows-fas-02-01 ul li:not(:first-child) {
	margin-top: 30px;
}

.item-fas-02-01:first-child {
	width: 422px;
}

.item-fas-02-01:last-child {
	width: calc(100% - 422px);
	padding: 10px 20px 0 27px;
}

.item-fas-02-01 h3 {
	color: #000;
	font-size: 32px;
	font-weight: bold;
	line-height: 140%;
	letter-spacing: 0;
	margin-bottom: 20px;
}

.item-fas-02-01 p {
	font-size: 15px;
	color: #000;
	font-weight: normal;
	line-height: 200%;
	letter-spacing: 0;
}

.img-fas-02-01 {
	width: 100%;
	margin-top: 52px;
	text-align: center;
}

.rows-fas-02-02 {
	margin-top: 15px;
}

.img-fas-04 {
	padding-left: 40px;
	display: inline-block;
}

.img-fas-04 img {
	width: 223.06px;
}

.table-fas-01 {
	margin-top: 68px;
}

.table-fas-01 td {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	line-height: 170%;
	margin: 0;
	vertical-align: top;
	letter-spacing: normal;
	letter-spacing: -0.1px;
}

.table-fas-01 td:first-child {
	font-size: 20px;
	width: 176px;
	color: #333333;
}

.table-fas-01 li:not(:first-child) {
	margin-left: 20px;
}

.table-fas-01 tr:not(:first-child) td {
	padding-top: 109px;
	line-height: 100%;
}

.table-fas-02 {
	margin-top: 50px;
}

.table-fas-02-01 {
	margin-top: 80px;
}

.table-fas-02 h3 {
	color: #333333;
	font-size: 20px;
	line-height: 140%;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 20px;
}

.table-fas-02-01 table,
.table-fas-02-02 table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
	position: relative;
	margin: -5px;
}

.table-fas-02-01 td {
	font-size: 15px;
	color: #000;
	line-height: 170%;
	font-weight: normal;
	padding: 13px 20px 11px 20px;
}

.table-fas-02-01 td:first-child {
	width: 160px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background-color: #182B7B;
}

.table-fas-02-01 td:last-child {
	background-color: #e2e2e2;
}

.table-fas-02-02 table th:first-child,
.table-fas-02-02 table td:first-child {
	background-color: #182B7B;
	color: #fff;
	width: 160px;
	font-weight: bold;
}

.table-fas-02-02 table tr th {
	background-color: #BCBCBC;
	width: 200px;
}

.table-fas-02-02 table tr td {
	background-color: #e2e2e2;
}

.table-fas-02-02 table tr>* {
	text-align: center;
	font-size: 15px;
	color: #000;
	line-height: 170%;
	letter-spacing: 0;
	padding: 13px 0px 11px 0px;
}

.img-fas-05 {
	width: 100%;
	max-width: 1060px;
	padding-bottom: 80px;
	margin: 103px auto 0 auto;
	position: relative;
}

.img-fas-05>span {
	width: 100%;
	max-width: 560px;
}

.po-img-02 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.group-menu-child {
	margin-top: 170px;
}

.group-menu-child-01 {
	margin-bottom: 40px;
}

.group-bar-color span {
	width: 50%;
	height: 24px;
	background-color: #182B7B;
	margin-bottom: 38px;
	position: relative;
}

.group-bar-color span::before {
	content: "";
	width: 120px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	background-color: #B80F52;
}

.item-menu-child {
	width: 50%;
	padding-left: 40px;
}

.item-menu-child ul {
	display: flex;
	align-items: center;
}

.item-menu-child ul li:first-child {
	width: 419px;
}

.item-menu-child ul li:not(:first-child) {
	padding-left: 58px;
	width: calc(100% - 419px)
}

.item-menu-child ul li h3 {
	position: relative;
}

.item-menu-child ul li h3 span {
	color: #182B7B;
	font-weight: bold;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 8px;
	z-index: 9
}

/*
===================
=  設備・製品紹介  =
=================== */
#page_banner.group-banner-machine .text img.banner_bus {
	width: 409.951px;
}

.img-mac-01 img {
	width: 352px;
}

.img-mac-02 img {
	width: 226px;
}

.img-mac-01,
.img-mac-02 {
	padding-left: 40px;
}


.group-mac-01 {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 115px;
	border-top: 1px solid #A3A3A3;
}

.group-mac-01 .table-fas-02-01 {
	margin-top: 89px;
}

.group-mac-02 {
	width: 100%;
	height: 450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.table-mac-01 {
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
	position: relative;
	margin: -5px;
}

.table-mac-01 tr>* {
	font-size: 15px;
	color: #333;
	letter-spacing: 0;
	text-align: center;
	padding: 15px 0 13px 0;
}

.table-mac-01 th {
	color: #FFFFFF;
	width: calc(100% / 4);
	font-weight: bold;
	background-color: #0B2264;
}

.table-mac-01 td {
	background-color: #E0E0E0;
	font-weight: normal;
}

.title-mac-h3-01 {
	color: #333;
	letter-spacing: 0;
	font-size: 20px;
	font-weight: bold;
	padding-left: 26px;
	line-height: 170%;
	margin-bottom: 21px;
}

.group-mac-03 {
	padding-bottom: 90px;
}

.group-pt-37 {
	padding-top: 37px;
}

.group-ul-mac-01 {
	width: 100%;
	font-size: 0;
	letter-spacing: 0;
	position: relative;
}

.group-ul-mac-01 li {
	width: calc((100% - 60px) / 2);
	display: inline-block;
	vertical-align: top;
	margin-bottom: 80px;
}

.group-ul-mac-01 li:nth-child(2n) {
	margin-left: 60px;
}

.group-ul-mac-01 li>span {
	display: block;
	margin-bottom: 11px;
}

.group-ul-mac-01 table {
	width: 100%;
	position: relative;
}

.group-ul-mac-01 table tr {
	border-bottom: 1px solid #BABABA;

}

.group-ul-mac-01 table td {
	font-size: 15px;
	color: #000;
	letter-spacing: 0;
	line-height: 170%;
	padding: 6px 0;
	vertical-align: middle;
}

.group-ul-mac-01 table td:first-child {
	width: 105px;
}

.group-ul-mac-01 table td:last-child {
	padding-left: 25px;
}

.group-ul-mac-01 table td span {
	margin-left: 11px;
	display: flex;
	width: 100%;
	color: #fff;
	font-weight: bold;
	height: 26px;
	line-height: 100%;
	background-color: #333333;
	align-items: center;
	padding-top: 2px;
	padding-left: 20px;
}

.group-mac-03-01 {
	margin-top: 47px;
	margin-bottom: -25px;
}

.group-mac-04-01 {
	padding-top: 80px;
	margin-bottom: -110px;
}


.group-mac-04-01 .group-ul-mac-01 table td span {
	padding-left: 0;
	justify-content: center;
}

.group-mac-04-01 .group-ul-mac-01 li {
	margin-bottom: 110px;
}

.group-mac-04-01 .group-ul-mac-01 table tr:not(:first-child) td {
	padding-top: 17px;
}

/*
===================
=  お客様からの声  =
=================== */
.group-cus-01 {
	width: 100%;
	padding-top: 80px;
	border-top: 1px solid #A3A3A3;
}

.gird-1080 {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
}

.img-cus-01 {
	display: block;
}

.img-cus-01 img {
	width: 368px;
}

.title-cus-h3-01 {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	letter-spacing: 0;
	margin-top: 63px;
	margin-bottom: 56px;
}

#page_banner.group-banner-customers .text img.banner_bus {
	width: 502px;
}

.group-cus-rows-01 {
	max-width: 990px;
	margin: 0 auto;
	margin-bottom: 77px;
}

.group-cus-rows-01:last-child {
	margin-bottom: -23px;
}

.title-case {
	width: 100%;
	position: relative;
}

.title-case {
	align-items: center;
	margin-bottom: 44px;
}

.title-case span:first-child {
	width: 168px;
}

.title-case span:last-child {
	width: calc(100% - 180px);
	margin-left: 12px;
	height: 1px;
	background-color: #182B7B;
}

.item-cus-01-01:first-child {
	width: 290px;
}

.item-cus-01-01:first-child span {
	width: 290px;
	height: 290px;
	border-radius: 100%;
	display: block;
	overflow: hidden;
}

.item-cus-01-01:first-child span img {
	width: 290px;
	height: 290px;
}

.item-cus-01-01:last-child {
	width: calc(100% - 290px);
	padding-left: 70px;
	margin-top: -3px;
}

.item-cus-01-01:last-child>strong {
	color: #182B7B;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 175%;
	padding-bottom: 47px;
	display: block;
}

.item-cus-01-01:last-child>h4 {
	font-size: 26px;
	color: #000000;
	letter-spacing: 0;
	font-weight: bold;
}

.item-cus-01-01:last-child>ul {
	width: 100%;
	padding-top: 5px;
}

.item-cus-01-01:last-child>ul li:not(:last-child) {
	border-bottom: 1px solid #000000;
	padding-bottom: 12px;
	margin-bottom: 31px;
}

.item-cus-01-01:last-child>ul li p {
	font-size: 16px;
	color: #000;
	line-height: 175%;
	letter-spacing: 0;
	font-weight: normal;
	margin: 16px 0;
}

.item-cus-01-01:last-child>ul li strong {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	line-height: 175%;
	letter-spacing: 0;
}

/*
=============
=  会社案内  =
============= */
#page_banner.group-banner-company .text img.banner_bus {
	width: 213px;
}

.group-com-01 {
	width: 100%;
	padding-top: 80px;
	margin-bottom: 160px;
	border-top: 1px solid #A3A3A3;
}

.group-com-01>div {
	padding-right: 20px;
}

.gird-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

.group-com-item:first-child {
	width: 180px;
	padding-top: 10px;
	position: relative;
}

.group-com-item:last-child {
	width: calc(100% - 180px);
	padding-left: 90px;
}

.group-com-item:first-child h2 {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #BDBDBD;
	padding-bottom: 8px;
	border-bottom: 1px solid #BDBDBD;

}

.group-menu-scroll {
	margin-top: 30px;
	padding-left: 44px;
}

.group-menu-scroll a {
	font-size: 20px;
	color: #BDBDBD;
	line-height: 100%;
	letter-spacing: 0;
	font-weight: bold;
	padding-left: 15px;
	position: relative;
	display: inline-block;
	transition: all 0.35s;
}

.group-menu-scroll li {
	display: block;
	width: 100%;
}

.group-menu-scroll .active a,
.group-menu-scroll li:hover a {
	color: #1B307A;
}

.group-menu-scroll .active a::before,
.group-menu-scroll li:hover a::before {
	content: "";
	width: 7px;
	height: 2.5px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #B90F52;
	transition: all 0.35s;
}


.group-menu-scroll li:not(:first-child) {
	margin-top: 28px;
}

.group-fix-scroll.fix {
	position: fixed;
	top: 0px;
	width: 180px;
}

.group-fix-scroll.fix.no-fix {
	position: absolute;
	top: auto;
	bottom: 0;
}

.group-com-he {
	width: 100%;
	padding-right: 50px;
}



.result {
	display: none;
}

.img-com-01 img {
	width: 225px;
}

.img-com-02 img {
	width: 225px;
}

.img-com-03 img {
	width: 225px;
}

.img-com-04 img {
	width: 225px;
}

.img-com-05 img {
	width: 222px;
}
#com01{
	padding-bottom: 162px;
}
#com01 h2 ~ span {
		margin-top: 88px;
		display: block;
}

#com01 ul {
	margin-top: 26px;
}

#com01 ul li{
	width: 50%;
	letter-spacing: -0.3px;
	font-size: 15px;
	font-weight: normal;
	line-height: 175%;
}
#com01 ul li img{
	float: right;
	margin-top: 60px;
}
#com01 ul li:not(:first-child){
	margin-left: 45px;
}

#com02 {
	padding-top: 5px;
	padding-bottom: 180px;
}

#com02 h2 ~ span {
	display: block;
	text-align: center;
	margin-top: 103px;
}

#com02 h2 ~ span img{
	width: 702px;
}

#com05 {
	padding-top: 50px;
}

.iframe-com-01 {
	width: 100%;
	height: 460px;
	margin-top: 33px;
}

.iframe-com-01 iframe {
	width: 100%;
	height: 100%;
}

@media all and (-ms-high-contrast:none) {
	.group-ul-mac-01 table td span {
		padding-top: 3px;
	}
}