@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #000000;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	background-size: 15px 15px;
	overflow-x: hidden;
}

.rows, header, section, footer {
	width: 100%;
	float: left;
}

* {
	box-sizing: border-box;
}

*::after, *::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a:hover, a:focus, a:visited {
	outline: none;
	border: none;
}

.cont {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit
}

.clear {
	clear: both;
}

a[href^="tel:"] {
	cursor: default;
}

a[href^="tel:"]:hover{
	text-decoration: none;
}

.ow{
	width:100%;
	overflow:hidden;
}
br{
	font-size: 0;
}

/* HEADER */

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

header .all_header{
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 30px;
	display: flex;
	justify-content:space-between;
	align-items:center;
}

header .all_header .hd_logo{
	width: 356px;
}

header .all_header .hd_menu .hamber_menu img{
	width: 80px;
	margin-right: 5px;
	transition: opacity 1 ease;
	-webkit-transition: opacity 1 ease;
	-moz-transition: opacity 1 ease;
	-ms-transition: opacity 1 ease;
	-o-transition: opacity 1 ease;
	cursor: pointer;
}

header .all_header .hd_menu .hamber_menu img:hover{
	opacity: 0.8;
}

header .all_header .hd_menu .hamber_menu img.menu_ope{
	display: none;
}